@import url(../../resources/fonts/fonts.css);

*
{
	font-family: Nunito Sans, "sans-serif";
}

.elementor-container
{
	margin: 0 auto;
	max-width: 1440px;
	padding: 50px 20px;
	overflow: hidden;
}

body
{
	width: 100vw;
	overflow-x: hidden;
}

.parallax
{
	min-height: 100vh;
}

.parallax__body
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.parallax__container
{
	margin-top: 40px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.parallax__label
{
	color: #fbd784;
	display: flex;
	font-size: 18px;
	letter-spacing: 6px;
	margin: 0 0 30px 0;
	align-items: center;
	&::before
	{
		content: '';
		flex: 0 0 70px;
		margin: 0 30px 0 0;
		background-color: #fbd784;
		height: 1px;
	}
}

.parallax__title
{
	font-size: 88px;
}

@media (max-width: 1300px)
{
	.parallax__label
	{
		font-size: 15px;
	}
	.parallax__title
	{
		font-size: 70px;
	}
}

@media (max-width: 1200px)
{
	.parallax__label
	{
		font-size: 15px;
	}
	.parallax__title
	{
		font-size: 60px;
	}
}

@media (max-width: 1120px)
{
	.parallax__title
	{
		font-size: 50px;
	}
}

.parallax__images
{
	position: absolute;
	width: 120%;
	height: 120%;
	top: -10%;
	left: -10%;
	z-index: 1;
}

.images-parallax__item
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.images-parallax__clouds
{
	background: url(/resources/img/clouds.jpg) top / cover no-repeat;
	top: 0;
}

.images-parallax__mountains
{
	background: url(/resources/img/mountains.png) top / cover no-repeat;
	top: 15%;
	z-index: 2;
}

.images-parallax__human
{
	background: url(/resources/img/human.png) top / cover no-repeat;
	top: 45%;
	z-index: 3;
}

@media (max-aspect-ratio: 3/2)
{
	.images-parallax__human
	{
		background-position: 20% top;
	}
}

.content
{
	width: 100%;
	background-color: #f5f5f5;
	position: relative;
	z-index: 2;
	&::before
	{
		content: '';
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 300px;
		transform: translate(0, -100%);
		background: linear-gradient(180deg, #f5f5f500 5%, #f5f5f5 100%);
	}
}

@media (max-width: 991px)
{
	.sky-wrapper
	{
		visibility: hidden;
	}
}

.paralax-sky
{
	position: relative;
}

.sky-wrapper
{
	background: linear-gradient(to bottom, #f5f5f5 0%, #91a1ff 100%);
	width: 100%;
	height: 500px;
	box-shadow: inset 0 -50px 10px #ffffff10;
	overflow: hidden;
}

.paralax-sky__content
{
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
}

@media (max-width: 1200px)
{
	.paralax-sky__content
	{
		top: 10%;
	}
}

@media (max-width: 992px)
{
	.sky-wrapper
	{
		height: 700px;
	}
	.paralax-sky__content
	{
		top: 0;
	}
}

.paralax-content__item
{
	text-align: center;
	align-items: center;
}

.paralax-content__text
{
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 10px;
	span
	{
		font-size: 25px;
		font-weight: normal;
		letter-spacing: 5px;
	}
}

@keyframes sunrise
{
	0%
	{
		box-shadow: none;
	}
}

@keyframes rays
{
	0%
	{
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100%
	{
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}


@keyframes sunmoveX
{
	0%
	{
		margin-right: 70px;
	}
	50%
	{
		margin-right: 132px;
	}
	100%
	{
		margin-right: 70px;
	}
}

@keyframes sunmoveY
{
	0%
	{
		margin-top: 100px;
	}
	50%
	{
		margin-top: 132px;
	}
	100%
	{
		margin-top: 100px;
	}
}

.sun
{
	margin-top: 100px;
	float: right;
	margin-right: 70px;
	width: 200px;
	height: 200px;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear,
		sunmoveX 10s infinite linear,
		sunmoveY 5s infinite linear;
}

@keyframes cloudsAnimate
{
	from
	{
		margin-left: -1000px;
	}
	to
	{
		margin-left: 100%;
	}
}

.cloud-s1
{
	animation: cloudsAnimate 35s linear infinite;
	transform: scale(0.65);
}

.cloud-s2
{
	animation: cloudsAnimate 20s linear infinite;
	transform: scale(0.3);
}

.cloud-s3
{
	animation: cloudsAnimate 30s linear infinite;
	transform: scale(0.5);
}

.cloud-s4
{
	animation: cloudsAnimate 18s linear infinite;
	transform: scale(0.4);
}

.cloud-s5
{
	animation: cloudsAnimate 25s linear infinite;
	transform: scale(0.55);
}

.cloud
{
	background: whitesmoke;
	background: linear-gradient(to bottom, #ffffff 5%, #f1f1f1 100%);
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
	&::after, &::before
	{
		background: white;
		content: '';
		position: absolute;
		z-index: -1;
	}
	&::after
	{
		border-radius: 100px;
		height: 100px;
		left: 50px;
		top: -50px;
		width: 100px;
	}
	&::before
	{
		border-radius: 200px;
		height: 180px;
		width: 180px;
		right: 50px;
		top: -90px;
	}
}

header
{
	z-index: 5;
	position: sticky;
}

.navbar-brand
{
	img
	{
		transition-duration: 300ms;
		filter: invert(28%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
	}
	&:hover img
	{
		filter: invert(24%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
	}
	.navbar-brand-text__highlight
	{
		color: #00B32C;
		font-weight: bold;
	}
	.navbar-brand-text
	{
		display: inline-block;
		position: relative;
		&::after
		{
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #00B32C;
			transform-origin: bottom right;
			transition: transform 0.25s ease-out;

		}
	}
	&:hover .navbar-brand-text::after
	{
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.nav-link 
{
	img
	{
		width: 20px;
	}
}

.major_slider
{
	background-color: #fff;
	height: 100%;
	width: 100vw;
}

.major_slider__slide
{
	position: relative;
	width: 100%;
	img
	{
		filter: grayscale(0.2) brightness(0.45);
		width: 100%;
		height: 100%;
	}
}

.major_slider__text
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 50%;
	height: 50%;
	color: whitesmoke;
}

.major_slider__slide__header
{
	font-weight: bold;
	font-size: 80px;
}

.major_slider__slide__description
{
	font-weight: normal;
	font-size: 20px;
}

.major_slider__slide__button
{
	font-weight: normal;
	font-size: 20px;
	border-radius: 25px;
}

.boxes-menu
{
	margin-top: -400px;
	text-align: center;
}

.boxes-menu__box-wrapper
{
	align-items: center;
	text-align: center;
	margin: 10px;
}

.boxes-menu__hovered-wrap h3
{
	text-decoration: underline;
}

.boxes-menu__box
{
	position: relative;
	height: 400px;
	width: 400px;
	background-color: #19d567;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-weight: bold;
	font-size: 25px;
	h3
	{
		font-size: 35px;
		font-weight: bold;
	}
	&:hover .boxes-menu__hovered
	{
		width: 100%;
		left: 0;
		padding: 5px;
	}
}

@media (max-width: 1790px)
{
	.boxes-menu__box
	{
		height: 300px;
		width: 300px;
		margin: 0;
	}
	.major_slider__slide__header
	{
		font-size: 60px;
	}
	.boxes-menu
	{
		margin-top: -300px;
	}
}

@media (max-width: 1600px)
{
	.boxes-menu
	{
		margin-top: -220px;
	}
}

@media (max-width: 1500px)
{
	.boxes-menu
	{
		margin-top: -150px;
	}
	.boxes-menu__hovered-wrap 
	{
		p
		{
			font-size: 17px;
		}
	}
}

@media (max-width: 1280px)
{
	.boxes-menu
	{
		margin-top: -110px;
	}
	.major_slider__slide__header
	{
		font-size: 50px;
	}
	.major_slider__slide__description
	{
		font-size: 18px;
	}
	.boxes-menu__box
	{
		height: 270px;
		width: 270px;
	}
	.boxes-menu__hovered-wrap 
	{
		h3
		{
			font-size: 20px;
		}
	}
}

@media (max-width: 1220px)
{
	.boxes-menu
	{
		margin-top: -100px;
	}
	.boxes-menu__hovered-wrap 
	{
		p
		{
			font-size: 14px;
		}
	}
	.boxes-menu__preview-wrap
	{
		p
		{
			font-size: 20px;
		}
	}
}

@media (max-width: 1120px)
{
	.boxes-menu__box
	{
		height: 220px;
		width: 220px;
	}
}

@media (max-width: 1100px)
{
	.major_slider__slide__header
	{
		font-size: 40px;
	}
	.boxes-menu
	{
		margin-top: -120px;
	}
	.major_slider__slide__button
	{
		visibility: hidden;
	}
}

@media (max-width: 900px)
{
	.boxes-menu
	{
		margin-top: -60px;
	}
}

@media (max-width: 766px)
{
	.boxes-menu
	{
		margin-top: 0;
		padding: 0;
	}
	.boxes-menu__box
	{
		height: 350px;
		width: 350px;
	}
	.boxes-menu__hovered-wrap 
	{
		h3
		{
			font-size: 40px;
		}
		p
		{
			font-size: 20px;
		}
	}
	.boxes-menu__preview-wrap
	{
		p
		{
			font-size: 30px;
		}
	}
}

@media (max-width: 690px)
{
	.major_slider__slide__description
	{
		visibility: hidden;
	}
	.major_slider__slide__header
	{
		font-size: 35px;
	}
}

.boxes-menu__preview
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	.ico
	{
		filter: invert(1);
		width: 120px;
	}
	img
	{
		width: 100%;
		height: 100%;
	}
}

.boxes-menu__hovered
{
	
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: #18c25f;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.boxes-menu__rows .row
{
	margin: 40px;
}

.offer-row__img-wrap
{
	
	max-height: 550px;
	text-align: center;
	img
	{
		height: 100%;
		max-width: 100%;
	}
}

.offer-block__title
{
	font-size: 40px;
}

.offer-block__subtitle
{
	font-size: 20px;
}

.offer-block__tip
{
	margin: 10px auto;
}

.offer-tip__circle
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #19d567;
	margin-right: 10px;
}

.offer-tip__text
{
	height: 70px;
	width: calc(100% - 90px);
	display: flex;
	align-items: center;
}

.offer-tip__header
{
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	color: black;
}
.offer-tip__desc
{
	margin: auto 0;
	font-size: 14px;
	font-weight: lighter;
	color:gray
}



.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 40px;
			width: 40px;
			display: block;
			background: rgba(#000, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: #fff;
			}
		}
	}
}

.form-control {
	height: 52px;
	background: #fff;
	color: #000;
	font-size: 18px;
	border-radius: 0px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.1);
	&:focus, &:active {
		outline: none !important;
		box-shadow: none;
	}
}
textarea.form-control {
	height: inherit!important;
}


.aside-stretch-right{
	background: rgba(#12cc94,1);
	&:after{
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		content: '';
		width: 360%;
		background: rgba(#12cc94,1);
	}
	@media (max-width: 767.98px)
	{
		background: transparent;
		&:after{
			background: transparent;
			display: none;
		}
	}
}

.ftco-section{
	padding: 12em 0;
	h2{
		margin-bottom: 0;
	}
}

footer
{
	padding: 7em 0;
	padding: 0;
	overflow: hidden;
	background: #f1f6f5;
	a
	{
		color: #12cc94;
	}
	p
	{
		color: rgba(0,0,0,.3);
	}
	.footer-heading
	{
		font-size: 18px;
		margin-bottom: 30px;
		&.footer-heading-white
		{
			@media (max-width: 991.98px)
			{
				color: #fff;
			}
		}
	}
	ul.list-unstyled
	{
		li
		{
			a
			{
				color: rgba(0,0,0,.3);
			}
		}
	}
	.contact-form
	{
		width: 100%;
		.form-control
		{
			height: 50px;
			background: #fff;
			color: rgba(0,0,0,.3);
			font-size: 14px;
			border-radius: 5px;
			box-shadow: none;
			border: none;
			&::-webkit-input-placeholder
			{
				color: rgba(0,0,0,.3) !important;
			}
			&::-moz-placeholder
			{
				color: rgba(0,0,0,.3) !important;
			}
			&:-ms-input-placeholder
			{
				color: rgba(0,0,0,.3) !important;
			}
			&:-moz-placeholder
			{
				color: rgba(0,0,0,.3) !important;
			}
			&:focus
			{
				outline: none !important;
				box-shadow: none;
			}
			&:focus, &:active
			{
				outline: none !important;
				box-shadow: none;
			}
		}
		.submit
		{
			background: #2f89fc !important;
			color: #fff;
		}
		textarea.form-control
		{
			height: inherit!important;
		}
	}
	.aside-stretch-right
	{
		background: #12cc94;
		&:after
		{
			background: #12cc94;
		}
		@media (max-width: 767.98px)
		{
			background: transparent;
			&:after
			{
				background: transparent;
				display: none;
			}
		}
	}
}